.about-us {
  padding-top: 37px;
  padding-bottom: 22px;
  color: #ffffff;
  background-color: #2892d3;
  background-image: url(../images/clouds.jpg);
  background-position: center;
  background-size: cover;
}

.about-us__inner {
  text-align: center;
}

.about-us__title {
  display: inline-block;
  margin-bottom: 21px;
  position: relative;
  z-index: 1;

  @include tablet {
    &:after {
      content: "";
      position: absolute;
      bottom: 1px;
      right: -26px;
      width: 111px;
      height: 29px;
      background-color: #fde15d;
      z-index: -1;
    }

    & span {
      color: #000000;
    }
  }
}

.about-us__wrap {
  @include desktop {
    width: 950px;
    margin: 0 auto;
  }
}

.about-us__text {
  margin: 0 0 42px;
  font-size: 18px;
  line-height: 25px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.about-us__item {
  position: relative;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 25px;

  @include mobile-only {
    margin-bottom: 60px;
    padding-top: 70px;
  }

  @include tablet {
    padding-left: 97px;
  }

  &:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 56px;
    height: 56px;

    @include mobile-only {
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
    }
  }

  &--security:before {
    background-image: url(../images/icon-calendar.png);
  }

  &--channels:before {
    background-image: url(../images/icon-statistics.png);
  }

  &--deal:before {
    background-image: url(../images/icon-handshake.png);
  }

  &--holding:before {
    background-image: url(../images/icon-mirafox.png);
  }

  & a {
    color: #fde15d;
  }
}
